.friendList{
display: grid;
  grid-template-rows: 75px 75px 75px 75px 75px ;
  gap: 5px;
  width: 400px;
    margin: 0 auto;

}
.item{
    display: grid;
      grid-template-columns: 50px 100px 250px;
      gap: 3px;
      height: 75px;
      border-radius: 9px;
      box-shadow: 2px 2px 8px #363636;
      background-color: #e8f9f2;
}
.online{
  border-radius: 50%;
    margin: auto ;
    height: 15px;
    width: 15px;
    background-color: #0fdb31;
}
.offline{
border-radius: 50%;
  margin: auto;
  height: 15px;
  width: 15px;
  background-color: #db0f0f;
}
.avatar{
margin: auto;
box-shadow: 2px 2px 8px #363636;
  background-color: #647c79;
  height: 70%;
  border-radius: 4px;
  }
  .name{
  margin:  auto;
  font-size: 25px;
  font-weight: 700;
  color: #778181;
  }